@model List<TestMVCProj.Models.Book>

<h2>Books</h2>
<a href="@Url.Action("Create", "Book")" class="btn btn-primary" style="margin: 10px;">Create Book</a>

<table class="table">
    <thead>
        <tr>
            <th>BookId</th>
            <th>Title</th>
            <th>AuthorId</th>
            <th>LibraryBranchId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.AuthorId</td>
                <td>@book.LibraryBranchId</td>
            </tr>
        }
    </tbody>
</table>
